h1 {
    color: #7B7777;
}

.btn-gray {
    background-color: #c4c4c4;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
}

i {
    height: 20px;
    width: 20px;
    display: block;
}

th {
    font-weight: 300;
    font-style: italic;
}

.side-margin-auto {
    margin-left: auto;
    margin-right: auto;
}