.background-container {
    position: relative;
  }
  
  .bg-image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-image: url('../../../assets/img/homePageBackground.png');
    background-size: cover;
    background-position: center;
  }
  
  
  .content-container {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  